.user-form {
    display: flex;
    justify-content: space-around;
    margin: 20px;

    &-contain {
        width: 900px;
        display: flex;
        justify-content: space-between;
        input {
            width: 200px;
        }
    }
}
